<a href="@Url.Action("HienThiGioHang", "GioHang")" class="btn btn-primary d-flex align-items-center">
    <img src="~/Images/Giohang.gif" alt="Giỏ hàng" class="mr-2" style="width: 30px; height: auto;" />
    Giỏ hàng (@ViewBag.TongSL)
</a>
