@{
    ViewBag.Title = "HoanThanhDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center my-5">
    <h2 class="display-4 text-success">ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC GHI NHẬN</h2>
    <p class="lead">CHÚNG TÔI SẼ LIÊN HỆ TRONG THỜI GIAN SỚM NHẤT</p>

    <div class="mt-4">
        @Html.ActionLink("Về trang chủ", "Index", "BookStore", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>
