@using MvcBookStore.Models
@model IEnumerable<NHAXUATBAN>

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="display-4">NHÀ XUẤT BẢN</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                @foreach (var nxb in Model)
                {
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("SPTheoNXB", "BookStore", new { id = nxb.MaNXB })" class="text-decoration-none text-dark">
                            <span class="font-weight-bold">@nxb.TenNXB</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
